/*
SET NOCOUNT ON;

DECLARE 
		@XRAW XML -- VUOTO
		,@INPUTraw ETL.RAWDATA_TYPE

-- RIEMPIMENTO OGGETTO DI TIPO "ETL.RAWDATA_TYPE"
INSERT	@INPUTraw -- (@RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA) -- * ELENCO PARAMETRI OPZIONALE *
VALUES	
		 (@RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA)	
		,(@RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA)
		,(@RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA)
		,(@RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA)

-- BULK LOAD IN UNA VARIABILE XML (CONTENITORE) DA OGGETTO DI TIPO "ETL.TTC_TYPE"
SET	@XRAW = ETL.BulkXRAW(@XRAW, @INPUTraw) -- RIEMPIE IL CONTENITORE XML CON I DATI PRESENTI NELL'OGGETTO DI TIPO "ETL.TTC_TYPE", RITORNA UNA VARIABILE XML CONTENENTE TUTTE LE COLONNE PRESENTI NELL'OGGETTO IN INGRESSO (@INPUTraw = ETL.TTC_TYPE)

SELECT * FROM ETL.GetXRAW(@XRAW, @RowID,@ServerTime,@MachineTime,@MachineID,@GameID,@LoginFlag,@TotalBet,@Win,@GamesPlayed,@GamesWon,@TotalHandpay,@TotalHPCC,@TotalJPCC,@TotalRemote,@TotalWon,@TotalDrop,@TotalIn,@TotalOut,@TotalBillIn,@TotalBillChange,@TotalCoinIn,@TotalCoinInDrop,@TotalCoinInHopper,@TotalHopperOut,@TotalHopperFill,@TotalTicketIn,@TotalTicketOut,@TotalBillInNumber,@BillIn1,@BillIn2,@BillIn3,@BillIn4,@BillIn5,@BillIn6,@BillIn7,@BillIn8,@TotalBillChangeNumber,@BillChange1,@BillChange2,@BillChange3,@BillChange4,@BillChange5,@BillChange6,@BillChange7,@TotalCoinInNumber,@CoinIn3,@CoinIn4,@CoinIn5,@CoinIn6,@CoinIn7,@CoinIn8,@TotalCoinInDropNumber,@CoinInDrop3,@CoinInDrop4,@CoinInDrop5,@CoinInDrop6,@CoinInDrop7,@CoinInDrop8,@TotalCoinInHopperNumber,@CoinInHopper3,@CoinInHopper4,@TicketInA,@TicketInB,@TicketInC,@TicketOutA,@TicketOutB,@TicketOutC,@CurrentCreditA,@CurrentCreditB,@CurrentCreditC,@TotalBetA,@TotalBetB,@TotalBetC,@WinA,@WinB,@WinC,@WinD,@TotalHPCCA) -- RITORNA L'ELENCO COMPLETO IN FORMA TABELLARE

*/
ALTER FUNCTION [ETL].[BulkXRAW]
				(
					@XMLraw XML
					,@INPUTraw ETL.RAWDATA_TYPE READONLY
				)
RETURNS XML
AS
BEGIN
	DECLARE 
			@returnXRAW XML = NULL
			,@OUTPUTraw ETL.RAWDATA_TYPE
			,@lastID int

	IF EXISTS (SELECT TOP 1 * FROM @INPUTraw)
		BEGIN
			INSERT 	@OUTPUTraw
					(
						RowID 
						,ServerTime 
						,MachineTime 
						,MachineID 
						,GameID 
						,LoginFlag 
						,TotalBet 
						,Win 
						,GamesPlayed 
						,GamesWon 
						,TotalHandpay 
						,TotalHPCC 
						,TotalJPCC 
						,TotalRemote 
						,TotalWon 
						,TotalDrop 
						,TotalIn 
						,TotalOut 
						,TotalBillIn 
						,TotalBillChange 
						,TotalCoinIn 
						,TotalCoinInDrop 
						,TotalCoinInHopper 
						,TotalHopperOut 
						,TotalHopperFill 
						,TotalTicketIn 
						,TotalTicketOut 
						,TotalBillInNumber 
						,BillIn1 
						,BillIn2 
						,BillIn3 
						,BillIn4 
						,BillIn5 
						,BillIn6 
						,BillIn7 
						,BillIn8 
						,TotalBillChangeNumber 
						,BillChange1 
						,BillChange2 
						,BillChange3 
						,BillChange4 
						,BillChange5 
						,BillChange6 
						,BillChange7 
						,TotalCoinInNumber 
						,CoinIn3 
						,CoinIn4 
						,CoinIn5 
						,CoinIn6 
						,CoinIn7 
						,CoinIn8 
						,TotalCoinInDropNumber 
						,CoinInDrop3 
						,CoinInDrop4 
						,CoinInDrop5 
						,CoinInDrop6 
						,CoinInDrop7 
						,CoinInDrop8 
						,TotalCoinInHopperNumber 
						,CoinInHopper3 
						,CoinInHopper4 
						,TicketInA 
						,TicketInB 
						,TicketInC 
						,TicketOutA 
						,TicketOutB 
						,TicketOutC 
						,CurrentCreditA 
						,CurrentCreditB 
						,CurrentCreditC 
						,TotalBetA 
						,TotalBetB 
						,TotalBetC 
						,WinA 
						,WinB 
						,WinC 
						,WinD 
						,TotalHPCCA 
					) 
			SELECT
					RowID 
					,ServerTime 
					,MachineTime 
					,MachineID 
					,GameID 
					,LoginFlag 
					,TotalBet 
					,Win 
					,GamesPlayed 
					,GamesWon 
					,TotalHandpay 
					,TotalHPCC 
					,TotalJPCC 
					,TotalRemote 
					,TotalWon 
					,TotalDrop 
					,TotalIn 
					,TotalOut 
					,TotalBillIn 
					,TotalBillChange 
					,TotalCoinIn 
					,TotalCoinInDrop 
					,TotalCoinInHopper 
					,TotalHopperOut 
					,TotalHopperFill 
					,TotalTicketIn 
					,TotalTicketOut 
					,TotalBillInNumber 
					,BillIn1 
					,BillIn2 
					,BillIn3 
					,BillIn4 
					,BillIn5 
					,BillIn6 
					,BillIn7 
					,BillIn8 
					,TotalBillChangeNumber 
					,BillChange1 
					,BillChange2 
					,BillChange3 
					,BillChange4 
					,BillChange5 
					,BillChange6 
					,BillChange7 
					,TotalCoinInNumber 
					,CoinIn3 
					,CoinIn4 
					,CoinIn5 
					,CoinIn6 
					,CoinIn7 
					,CoinIn8 
					,TotalCoinInDropNumber 
					,CoinInDrop3 
					,CoinInDrop4 
					,CoinInDrop5 
					,CoinInDrop6 
					,CoinInDrop7 
					,CoinInDrop8 
					,TotalCoinInHopperNumber 
					,CoinInHopper3 
					,CoinInHopper4 
					,TicketInA 
					,TicketInB 
					,TicketInC 
					,TicketOutA 
					,TicketOutB 
					,TicketOutC 
					,CurrentCreditA 
					,CurrentCreditB 
					,CurrentCreditC 
					,TotalBetA 
					,TotalBetB 
					,TotalBetC 
					,WinA 
					,WinB 
					,WinC 
					,WinD 
					,TotalHPCCA 
			FROM	ETL.GetXRAW(@XMLraw, NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL) -- MOSTRA L'ELENCO DEI VALORI CONTENUTI
			UNION ALL
			SELECT	
					RowID 
					,ServerTime 
					,MachineTime 
					,MachineID 
					,GameID 
					,LoginFlag 
					,TotalBet 
					,Win 
					,GamesPlayed 
					,GamesWon 
					,TotalHandpay 
					,TotalHPCC 
					,TotalJPCC 
					,TotalRemote 
					,TotalWon 
					,TotalDrop 
					,TotalIn 
					,TotalOut 
					,TotalBillIn 
					,TotalBillChange 
					,TotalCoinIn 
					,TotalCoinInDrop 
					,TotalCoinInHopper 
					,TotalHopperOut 
					,TotalHopperFill 
					,TotalTicketIn 
					,TotalTicketOut 
					,TotalBillInNumber 
					,BillIn1 
					,BillIn2 
					,BillIn3 
					,BillIn4 
					,BillIn5 
					,BillIn6 
					,BillIn7 
					,BillIn8 
					,TotalBillChangeNumber 
					,BillChange1 
					,BillChange2 
					,BillChange3 
					,BillChange4 
					,BillChange5 
					,BillChange6 
					,BillChange7 
					,TotalCoinInNumber 
					,CoinIn3 
					,CoinIn4 
					,CoinIn5 
					,CoinIn6 
					,CoinIn7 
					,CoinIn8 
					,TotalCoinInDropNumber 
					,CoinInDrop3 
					,CoinInDrop4 
					,CoinInDrop5 
					,CoinInDrop6 
					,CoinInDrop7 
					,CoinInDrop8 
					,TotalCoinInHopperNumber 
					,CoinInHopper3 
					,CoinInHopper4 
					,TicketInA 
					,TicketInB 
					,TicketInC 
					,TicketOutA 
					,TicketOutB 
					,TicketOutC 
					,CurrentCreditA 
					,CurrentCreditB 
					,CurrentCreditC 
					,TotalBetA 
					,TotalBetB 
					,TotalBetC 
					,WinA 
					,WinB 
					,WinC 
					,WinD 
					,TotalHPCCA 
			FROM	@INPUTraw
		END

	SET @returnXRAW =
		(
				SELECT 	
						RowID 
						,ServerTime 
						,MachineTime 
						,MachineID 
						,GameID 
						,LoginFlag 
						,TotalBet 
						,Win 
						,GamesPlayed 
						,GamesWon 
						,TotalHandpay 
						,TotalHPCC 
						,TotalJPCC 
						,TotalRemote 
						,TotalWon 
						,TotalDrop 
						,TotalIn 
						,TotalOut 
						,TotalBillIn 
						,TotalBillChange 
						,TotalCoinIn 
						,TotalCoinInDrop 
						,TotalCoinInHopper 
						,TotalHopperOut 
						,TotalHopperFill 
						,TotalTicketIn 
						,TotalTicketOut 
						,TotalBillInNumber 
						,BillIn1 
						,BillIn2 
						,BillIn3 
						,BillIn4 
						,BillIn5 
						,BillIn6 
						,BillIn7 
						,BillIn8 
						,TotalBillChangeNumber 
						,BillChange1 
						,BillChange2 
						,BillChange3 
						,BillChange4 
						,BillChange5 
						,BillChange6 
						,BillChange7 
						,TotalCoinInNumber 
						,CoinIn3 
						,CoinIn4 
						,CoinIn5 
						,CoinIn6 
						,CoinIn7 
						,CoinIn8 
						,TotalCoinInDropNumber 
						,CoinInDrop3 
						,CoinInDrop4 
						,CoinInDrop5 
						,CoinInDrop6 
						,CoinInDrop7 
						,CoinInDrop8 
						,TotalCoinInHopperNumber 
						,CoinInHopper3 
						,CoinInHopper4 
						,TicketInA 
						,TicketInB 
						,TicketInC 
						,TicketOutA 
						,TicketOutB 
						,TicketOutC 
						,CurrentCreditA 
						,CurrentCreditB 
						,CurrentCreditC 
						,TotalBetA 
						,TotalBetB 
						,TotalBetC 
						,WinA 
						,WinB 
						,WinC 
						,WinD 
						,TotalHPCCA 
				FROM	@OUTPUTraw 
				FOR XML RAW('RAW'), TYPE
		)
	RETURN  @returnXRAW
END