/*
SET NOCOUNT ON;

DECLARE 
		@XTKM XML -- VUOTO
		,@INPUTTKM ETL.TICKETMATCHED_TYPE

-- RIEMPIMENTO OGGETTO DI TIPO "ETL.TICKETMATCHED_TYPE"
INSERT	@INPUTTKM  -- (TicketCode, RowID, OUT) ELENCO PARAMETRI OPZIONALE
VALUES	
		 ('391378593917118855', 1, NULL)	
		,('391378593917118859', 2, NULL)
		,('391378593917118874', NULL, 1)

-- BULK LOAD IN UNA VARIABILE XML (CONTENITORE) DA OGGETTO DI TIPO "ETL.TTICKETIN_TYPE"
SET	@XTKM = ETL.BulkXTKM(@XTKM, @INPUTTKM) -- RIEMPIE IL CONTENITORE XML CON I DATI PRESENTI NELL'OGGETTO DI TIPO "ETL.TTICKETIN_TYPE", RITORNA UNA VARIABILE XML CONTENENTE TUTTE LE COLONNE PRESENTI NELL'OGGETTO IN INGRESSO (@INPUTTKM = ETL.TTICKETIN_TYPE)

SELECT * FROM ETL.GetAllXTKM(@XTKM) -- RITORNA L'ELENCO COMPLETO IN FORMA TABELLARE
SELECT * FROM ETL.GetAllXTKM(@XTKM) FOR XML PATH('TKM'), ROOT('ROWS'), TYPE -- RITORNA L'ELENCO COMPLETO IN FORMA XML

*/
ALTER FUNCTION [ETL].[BulkXTKM]
				(
					@XMLTKM XML
					,@INPUTTKM ETL.TICKETMATCHED_TYPE READONLY
				)
RETURNS XML
AS
BEGIN
	DECLARE 
			@returnXTKM XML = NULL
			,@outputTKM ETL.TICKETMATCHED_TYPE

	IF EXISTS (SELECT TOP 1 * FROM @INPUTTKM)
		BEGIN
			INSERT 	@outputTKM
					(
						TicketCode
						,RowID
						,[OUT]
					) 
			SELECT
					TicketCode
					,RowID
					,[OUT]
			FROM	ETL.GetAllXTKM(@XMLTKM)
			UNION ALL
			SELECT	
					TicketCode
					,RowID
					,[OUT]
			FROM	@INPUTTKM
		END

	SET @returnXTKM =
		(
				SELECT 	
						TicketCode
						,RowID
						,[OUT]
				FROM	@outputTKM 
				FOR XML RAW('TKM'), TYPE
		)
	RETURN  @returnXTKM
END