/*
DECLARE @XVLT XML -- DICHIARAZIONE DI UN CONTENITORE (INIZIALMENTE E' VUOTO)

--SET	@XVLT = ETL.WriteXVLT(@XVLT, 1000296, 24, 'GD1234A45', 'TG477SHHD66653', 'U8SJ666533098') -- CARICA UN ELEMENTO AL CONTENITORE (PRIMO CARICAMENTO)
--SET	@XVLT = ETL.WriteXVLT(@XVLT, 1000296, 22, 'GD1874A21', 'TG4JJ766YFF650', 'NI8837729S826') -- CARICA UN ELEMENTO AL CONTENITORE (PRIMO CARICAMENTO)
--SET	@XVLT = ETL.WriteXVLT(@XVLT, 1000296, 27, 'GD9075A45', 'QOH77622263HH1', 'KJ7734HH277S2') -- CARICA UN ELEMENTO AL CONTENITORE (PRIMO CARICAMENTO)

SELECT * FROM ETL.GetAllXVLT(@XVLT) -- MOSTRA L'ELENCO DEI VALORI CONTENUTI
*/
CREATE	FUNCTION [ETL].[GetAllXVLT](
		@XMLvlt XML = NULL
)
RETURNS TABLE
AS
RETURN(
	SELECT 
			T.c.value('@ClubID', 'int') AS ClubID
			,T.c.value('@MachineID', 'smallint') AS MachineID
			,T.c.value('@Machine', 'varchar(30)') AS Machine
			,T.c.value('@AamsMachineCode', 'varchar(30)') AS AamsMachineCode
			,T.c.value('@UnivocalLocationCode', 'varchar(30)') AS UnivocalLocationCode
	FROM	@XMLvlt.nodes('VLT') AS T(c) 
) 
