/*
-- DTK - ex TMP.DeltaTicketIN/TMP.DeltaTicketOut

SET NOCOUNT ON;

DECLARE @XDTK XML -- DICHIARAZIONE DI UN CONTENITORE (INIZIALMENTE E' VUOTO)
DECLARE @XDTK_EL XML 

SET	@XDTK = ETL.WriteXDTK(@XDTK, 1, 1000, NULL, '2017-01-01', 22)
SET	@XDTK = ETL.WriteXDTK(@XDTK, 2, 1600, NULL, '2017-01-01', 23)
SET	@XDTK = ETL.WriteXDTK(@XDTK, 3, NULL, 1200, '2018-01-01', 29)

SELECT * FROM ETL.GetAllXDTK(@XDTK) -- MOSTRA L'ELENCO COMPLETO DEI VALORI CONTENUTI
SELECT * FROM ETL.GetXDTK(@XDTK, NULL, NULL, NULL, '2018-01-01', NULL) -- MOSTRA L'ELENCO DEI VALORI CONTENUTI, FILTRATO PER "ServerTime"
SELECT * FROM ETL.GetAllXDTK(@XDTK) FOR XML PATH('DeltaTicketIn_Out'), ROOT('root'), TYPE, ELEMENTS	-- MOSTRA L'ELENCO IN FORMATO XML ELEMENTS

SELECT @XDTK_EL = (SELECT * FROM ETL.GetAllXDTK(@XDTK) FOR XML PATH('DeltaTicketIn_Out'), ROOT('root'), TYPE, ELEMENTS) -- PREPARAZIONE XML_ELEMENTS PER JSON 

SELECT dbo.XML2JSON(@XDTK_EL) AS JSONdata -- MOSTRA L'ELENCO IN FORMATO JSON

PRINT(CONVERT(varchar(MAX),@XDTK)) -- MOSTRA LA STRUTTURA XML RAW
*/
ALTER FUNCTION [ETL].[WriteXDTK]
				(
					@XMLDTK XML = NULL
					,@RowID int = NULL
					,@TotalTicketIN int = NULL
					,@TotalOut int = NULL
					,@ServerTime datetime2(3) = NULL
					,@MachineID smallint = NULL
				)
RETURNS XML
AS
BEGIN
	RETURN (
		SELECT *
		FROM (
			SELECT
					RowID
					,TotalTicketIN
					,TotalOut
					,ServerTime
					,MachineID
			FROM	ETL.GetAllXDTK(@XMLDTK)
			UNION ALL
			SELECT 
					@RowID AS RowID
					,@TotalTicketIN AS TotalTicketIN
					,@TotalOut AS TotalOut
					,@ServerTime AS	ServerTime
					,@MachineID AS MachineID
		) I
		FOR XML RAW('DTK'), TYPE
	)
END
