/*
SET NOCOUNT ON;

DECLARE 
		@XDTK XML -- VUOTO
		,@DELTATICKET_TYPE ETL.DELTATICKET_TYPE

-- RIEMPIMENTO OGGETTO DI TIPO "ETL.DELTATICKET_TYPE"
INSERT	@DELTATICKET_TYPE -- (RowID,TotalTicketIN,TotalOut,ServerTime,MachineID) -- * ELENCO PARAMETRI OPZIONALE *
VALUES	
		 (3456,10001,2000,'2017-01-01T16:43:26.868',27)	
		,(3457,10002,3000,'2017-02-01T17:44:27.869',27)
		,(3458,10003,4000,'2017-03-01T18:45:28.870',27)
		,(3459,10004,5000,'2017-04-01T19:46:29.871',27)

-- BULK LOAD IN UNA VARIABILE XML (CONTENITORE) DA OGGETTO DI TIPO "ETL.DTK_TYPE"
SET	@XDTK = ETL.BulkXDTK(@XDTK, @DELTATICKET_TYPE) -- RIEMPIE IL CONTENITORE XML CON I DATI PRESENTI NELL'OGGETTO DI TIPO "ETL.DTK_TYPE", RITORNA UNA VARIABILE XML CONTENENTE TUTTE LE COLONNE PRESENTI NELL'OGGETTO IN INGRESSO (@DELTATICKET_TYPE = ETL.DTK_TYPE)

SELECT * FROM ETL.GetAllXDTK(@XDTK) -- RITORNA L'ELENCO COMPLETO IN FORMA TABELLARE
SELECT * FROM ETL.GetAllXDTK(@XDTK) FOR XML PATH('DTK'), ROOT('ROWS'), TYPE -- RITORNA L'ELENCO COMPLETO IN FORMA XML

*/
ALTER FUNCTION [ETL].[BulkXDTK]
				(
					@XMLDELTATICKET XML
					,@DELTATICKET_TYPE ETL.DELTATICKET_TYPE READONLY
				)
RETURNS XML
AS
BEGIN
	RETURN(
		SELECT	I.*
		FROM(
			SELECT
					RowID
					,TotalTicketIN
					,TotalOut
					,ServerTime
					,MachineID
			FROM	ETL.GetAllXDTK(@XMLDELTATICKET)
			UNION ALL
			SELECT	
					RowID
					,TotalTicketIN
					,TotalOut
					,ServerTime
					,MachineID
			FROM	@DELTATICKET_TYPE
		) I
		FOR XML RAW('DTK'), TYPE
	)
END