/*
-- TTKIN - ex TTicketIN

DECLARE @XTTKIN XML -- DICHIARAZIONE DI UN CONTENITORE (INIZIALMENTE E' VUOTO)

SET	@XTTKIN = ETL.WriteXTTKIN(@XTTKIN, NULL, '391378593917118855', 'GD64HH7748859', 1000296) -- CARICA UN ELEMENTO AL CONTENITORE (PRIMO CARICAMENTO)
SET	@XTTKIN = ETL.WriteXTTKIN(@XTTKIN, NULL, '391378593917118859', 'TJ64HH7747341', 1000296) -- CARICA UN ELEMENTO AL CONTENITORE (PRIMO CARICAMENTO)

SELECT * FROM ETL.GetXTTKIN(@XTTKIN, NULL, NULL, NULL, NULL) -- MOSTRA L'ELENCO DEI VALORI CONTENUTI
SELECT * FROM ETL.GetAllXTTKIN(@XTTKIN) FOR XML PATH('TTKIN'), ROOT('ROWS'), TYPE -- RITORNA L'ELENCO COMPLETO IN FORMA XML
*/
ALTER	FUNCTION [ETL].[GetAllXTTKIN](
		@XMLTTKIN XML = NULL
)
RETURNS TABLE
AS
RETURN(
	SELECT 
			T.c.value('@ID', 'smallint') AS ID
			,T.c.value('@TicketID', 'nvarchar(255)') AS TicketID
			,T.c.value('@UnivocalLocationCode', 'varchar(20)') AS UnivocalLocationCode
			,T.c.value('@ClubID', 'int') AS ClubID
	FROM	@XMLTTKIN.nodes('TTKIN') AS T(c) 
) 