/*
SET NOCOUNT ON;

DECLARE 
		@XTTKIN XML -- VUOTO
		,@INPUTTTKIN ETL.TTICKETIN_TYPE

-- RIEMPIMENTO OGGETTO DI TIPO "ETL.TTICKETIN_TYPE"
INSERT	@INPUTTTKIN (TicketID, UnivocalLocationCode, ClubID) -- * ELENCO PARAMETRI OBBLIGATORIO IN QUANTO E' PRESENTE UNA COLONNA ID INT IDENTITY(1,1) *
VALUES	
		 ('391378593917118855', 'GD64HH7748859', 1000296)	
		,('391378593917118859', 'TJ64HH7747341', 1000296)

-- BULK LOAD IN UNA VARIABILE XML (CONTENITORE) DA OGGETTO DI TIPO "ETL.TTICKETIN_TYPE"
SET	@XTTKIN = ETL.BulkXTTKIN(@XTTKIN, @INPUTTTKIN) -- RIEMPIE IL CONTENITORE XML CON I DATI PRESENTI NELL'OGGETTO DI TIPO "ETL.TTICKETIN_TYPE", RITORNA UNA VARIABILE XML CONTENENTE TUTTE LE COLONNE PRESENTI NELL'OGGETTO IN INGRESSO (@INPUTTTKIN = ETL.TTICKETIN_TYPE)

SELECT * FROM ETL.GetAllXTTKIN(@XTTKIN) -- RITORNA L'ELENCO COMPLETO IN FORMA TABELLARE
SELECT * FROM ETL.GetAllXTTKIN(@XTTKIN) FOR XML PATH('TTKIN'), ROOT('ROWS'), TYPE -- RITORNA L'ELENCO COMPLETO IN FORMA XML

*/
ALTER FUNCTION [ETL].[BulkXTTKIN]
				(
					@XMLTTKIN XML
					,@INPUTTTKIN ETL.TTICKETIN_TYPE READONLY
				)
RETURNS XML
AS
BEGIN
	DECLARE 
			@returnXTTKIN XML = NULL
			,@outputTTKIN ETL.TTICKETIN_TYPE
			,@lastID int

	IF EXISTS (SELECT TOP 1 * FROM @INPUTTTKIN)
		BEGIN
			INSERT 	@outputTTKIN
					(
						TicketID
						,UnivocalLocationCode
						,ClubID
					) 
			SELECT
					TicketID
					,UnivocalLocationCode
					,ClubID
			FROM	ETL.GetAllXTTKIN(@XMLTTKIN)
			UNION ALL
			SELECT	
					TicketID
					,UnivocalLocationCode
					,ClubID
			FROM	@INPUTTTKIN
		END

	SET @returnXTTKIN =
		(
				SELECT 	
						ID							
						,TicketID
						,UnivocalLocationCode
						,ClubID
				FROM	@outputTTKIN 
				FOR XML RAW('TTKIN'), TYPE
		)
	RETURN  @returnXTTKIN
END