USE [Intranetinps_Richieste]
GO
/****** Object:  StoredProcedure [dbo].[spTMPcreate]    Script Date: 23/06/2017 11:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
----------------------------------------
dbo.spTMPcreate - SISTEMA TMP
----------------------------------------

NELL'AMBITO DEL MICROSISTEMA DI GESTIONE DI DATI TABELLARI TEMPORANEI (SISTEMA "TMP"), QUESTA STORED PROCEDURE E' PREPOSTA ALLA CREAZIONE IN TEMPO
REALE DI UNA TABELLA TEMPORANEA GLOBALE (UBICATA NEL DATABASE "tempdb", MA LA CUI ALLOCAZIONE E' TOTALMENTE TRASPARENTE ALL'UTENTE CHE LA IMPIEGA)

L'INVOCAZIONE DELLA PRESENTE SP PROVVEDERA' ALLA DISTRUZIONE PREVENTIVA DI UNA TABELLA - IDENTICA NEL NOME E NELL'UBICAZIONE - EVENTUALMENTE CREATA IN PRECENZA;
SI CONSIGLIA PERTANTO, PRIMA DI INVOCARLA, DI ACCERTARSI (TRAMITE L'INVOCAZIONE DELLA SP "spTMPgetAll") CHE IN TALE TABELLA TEMPORANEA NON SIANO
PRESENTI DATI IMPORTANTI PRECEDENTEMENTE MEMORIZZATI IN ESSA

-- ESEMPI DI INVOCAZIONE

EXEC spTMPcreate
EXEC spTMPgetAll -- oppure SELECT * FROM ##__tmpTable
EXEC spTMPaddColumns 'added nvarchar(max), added2 varchar(20), added3 datetime'

INSERT ##__tmpTable(added, added2, added3)
VALUES
		('NEW','PIPPO', GETDATE())
		,('OLD', 'PLUTO', NULL)

EXEC spTMPgetAll -- oppure SELECT * FROM ##__tmpTable
*/
CREATE PROC [dbo].[spTMPcreate]
AS
EXEC spTMPdestroy
CREATE TABLE ##__tmpTable(__id int IDENTITY(1,1) PRIMARY KEY CLUSTERED NOT NULL)

GO
