USE [Intranetinps_Richieste]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetValueFromXmlContenutoNews]    Script Date: 23/06/2017 11:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
----------------------------------------
dbo.fnGetValueFromXmlContenutoNews
----------------------------------------

FUNZIONE ATTA ALL'ESTRAZIONE DEI VALORI CONTENUTI ALL'INTERNO DELLA COLONNA XML PRESENTE NELLA TABELLA SPECIFICA CUI LA FUNZIONE 
E' STRETTAMENTE CONNESSA (IN QUESTO CASO SPECIFICO SI TRATTA DELLA TABELLA "VSN_ContenutoNews").

LA PRESENTE FUNZIONE, COME LE ALTRE RIPORTANTE IL MEDESIMO PREFISSO "fnGetValueFromXml..." E' STATA GENERATA AUTOMATICAMENTE DALLA
STORED PROCEDURE "dbo.spGenSQLCodeForXmlGet" LE CUI ISTRUZIONI CIRCA IL RICHIAMO ED IL FUNZIONAMENTO SONO RIPORTATE IN TESTA ALLA
SP MEDESIMA.

SCOPO PRINCIPALE DELLA PRESENTE FUNZIONE E' QUELLO DI CONSENTIRE L'ACCESSO AI VALORI INCLUSI ALL'INTERNO DEI TAG PRESENTI IN UNA
DETERMINATA COLONNA XML E POTER TRATTARE QUESTI ULTIMI COME SE FOSSERO ACCESSIBILI DIRETTAMENTE, OVVERO COME SE FOSSERO DELLE COLONNE
DI PIU' ALTO LIVELLO (E NON, QUINDI, INCAPSULATE IN UN CONTENITORE QUALE LA COLONNA XML NELLA QUALE SONO INVECE CONTENUTE) .

FUNZIONI DI QUESTO TIPO, OVVERO GENERATE UNA TANTUM DINAMICAMENTE DALLA SUMMENZIONATA STORED PROCEDURE, HANNO A CORREDO UN NUMERO 
DI PARAMETRI VARIABILE, STRETTAMENTE DIPENDENTE DAL NUMERO DI COLONNE *NON XML* COMPONENTI LA TABELLA CUI SI RIFERISCONO.

TALI PARAMETRI - QUASI TUTTI OPZIONALI - SERVONO QUASI SEMPRE A TITOLO DI CRITERIO DI FILTRO, CONSENTONO CIOE' DI RESTRINGERE IL SET
DI RISULTATI CHE LA FUNZIONE DOVRA' RITORNARE: SOLO IL PRIMO E L'ULTIMO PARAMETRO DELLA FUNZIONE (OVVERO "@XmlPath" E "@separator")
SONO FISSI E COMUNI A TUTTE LE FUNZIONI DI QUESTO TIPO ("fnGetValueFromXml..."), IL TERZO PARAMETRO ("@IdVsnContenutoNews" IN QUESTO 
CASO SPECIFICO) SARA' SEMPRE CORRISPONDENTE AL CAMPO ID PRIMARIO DELLA TABELLA.

IN TUTTE LE FUNZIONI DI QUESTO TIPO, TRA L'ALTRO, NON E' PRATICAMENTE *MAI* PRESENTE UNA COLONNA DI TIPO XML IN QUANTO QUEST'ULTIMA,
PRESENTE INVECE NELLA TABELLA CUI LA FUNZIONE SI RIFERISCE, E' UTILIZZATA INTERNAMENTE DALLA FUNZIONE PER SVOLGERE TUTTE LE OPERAZIONI
DI ESTRAZIONE E MANIPOLAZIONE DEI DATI.

LA PRESENTE FUNZIONE (E TUTTE LE ALTRE DI QUESTO TIPO) E' IN GRADO DI RITORNARE I DATI CONTENUTI NELLA COLONNA XML DELLA TABELLA DI 
RIFERIMENTO IN DIVERSI MODI:
- POSSONO ESSERE RITORNATI VALORI SINGOLI, RELATIVI AL CONTENUTO DI UN SINGOLO TAG, AVVALENDOSI ANCHE (MA NON OBBLIGATORIAMENTE) DI
  CRITERI DI FILTRO APPLICATI ALLE COLONNE *NON* XML DELLA TABELLA DI RIFERIMENTO
- POSSONO ESSERE RITORNATI INTERI SET DI DATI, IN FORMA TABELLARE, LADDOVE UN DETERMINATO TAG SI PRESENTI PIU' VOLTE ALLO STESSO LIVELLO
  DI ANNIDAMENTO
- VALORI SINGOLI O TABELLARI POSSONO ESSERE IMPIEGATI *DIRETTAMENTE* ALL'INTERNO DI JOIN, AVVALENDOSI O MENO DEI VARI CRITERI DI FILTRO
  APPLICATI ALLE COLONNE NON XML
- PUO' ESSERE RITORNATO, OVVIAMENTE, IL CONTENUTO DELL'INTERA COLONNA XML COSI' COME E' STATA MEMORIZZATA IN FASE DI INSERIMENTO O AGGIORNAMENTO 

-- ESEMPIO DI ESTRAZIONE DATI DA UN'ALTRA TABELLA UTILIZZANDO COME CRITERIO IL VALORE DI UNO SPECIFICO TAG ALL'INTERNO DI UNA COLONNA XML
SELECT	NIP.*
FROM	VSN_NewsInPage AS NIP WITH(NOLOCK)
WHERE	NIP.IdNewsInPage = CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,3201,NULL,NULL,NULL,NULL) AS int)

-- IDEM C.S. (NON RITORNA NESSUNA RIGA)
SELECT	NIP.*
FROM	VSN_NewsInPage AS NIP WITH(NOLOCK)
WHERE	NIP.IdNewsInPage = CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,3209,NULL,NULL,NULL,NULL) AS int)

-- ESEMPIO DI JOIN TRA DUE TABELLE UTILIZZANDO IL VALORE DI UNO SPECIFICO TAG ALL'INTERNO DI UNA COLONNA XML
SELECT
		NIP.*
		,CN.*
FROM	VSN_NewsInPage AS NIP WITH(NOLOCK)
		RIGHT JOIN
		VSN_ContenutoNews AS CN WITH(NOLOCK)
		ON NIP.IdNewsInPage IN (SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,CN.IdContenutoNews,NULL,NULL,NULL,NULL),NULL))

SELECT
		CN.*
		,NIP.*
FROM	VSN_ContenutoNews AS CN WITH(NOLOCK)
		LEFT JOIN
		VSN_NewsInPage AS NIP WITH(NOLOCK)
		ON NIP.IdNewsInPage IN (SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,CN.IdContenutoNews,NULL,NULL,NULL,NULL),NULL))

-- ALTRO ESEMPIO DI JOIN TRA DUE TABELLE UTILIZZANDO IL VALORE DI UNO SPECIFICO TAG ALL'INTERNO DI UNA COLONNA XML
SELECT	CAST(A.VXML AS XML) AS XmlBloccoNews
FROM
(
	SELECT
			--DISTINCT 
			CAST(NIP.XmlBloccoNews AS varchar(MAX)) AS VXML
	FROM	VSN_ContenutoNews AS CN WITH(NOLOCK)
			LEFT JOIN
			VSN_NewsInPage AS NIP WITH(NOLOCK)
			ON NIP.IdNewsInPage IN (SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,CN.IdContenutoNews,NULL,NULL,NULL,NULL),NULL))
) A

-- ALTRO ESEMPIO DI JOIN TRA DUE TABELLE UTILIZZANDO IL VALORE DI UNO SPECIFICO TAG ALL'INTERNO DI UNA COLONNA XML
SELECT
		DISTINCT 
		CAST(NIP.[Data] AS DateTime) AS [Data]
FROM	VSN_ContenutoNews AS CN WITH(NOLOCK)
		LEFT JOIN
		VSN_NewsInPage AS NIP WITH(NOLOCK)
		ON NIP.IdNewsInPage IN (SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,CN.IdContenutoNews,NULL,NULL,NULL,NULL),NULL))

-- ALTRO ESEMPIO DI JOIN TRA DUE TABELLE UTILIZZANDO IL VALORE DI UNO SPECIFICO TAG ALL'INTERNO DI UNA COLONNA XML
SELECT
		CAST(NIP.[Data] AS DateTime) AS [Data]
FROM	VSN_ContenutoNews AS CN WITH(NOLOCK)
		INNER JOIN
		VSN_NewsInPage AS NIP WITH(NOLOCK)
		ON NIP.IdNewsInPage IN (SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,CN.IdContenutoNews,NULL,NULL,NULL,NULL),NULL))

-- ESTRAZIONE DELL'INTERA COLONNA XML, CORRISPONDENTE ALL'ID PRIMARIO DELLA TABELLA CONTENITRICE
SELECT CAST(dbo.fnGetValueFromXmlContenutoNews(NULL,4,NULL,NULL,NULL,NULL,NULL,NULL) AS XML) AS XmlContenutoNews

-- ESTRAZIONE DI UN SINGOLO VALORE, CONTENUTO NELL'XML IN CORRISPONDENZA DEL TAG SPECIFICATO, CORRISPONDENTE ALL'ID_CONTENUTONEWS DELLA TABELLA CONTENITRICE
SELECT CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,3209,NULL,NULL,NULL,NULL) AS int) AS id_NewsInPage
SELECT CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,3207,NULL,NULL,NULL,NULL) AS int) AS id_NewsInPage
SELECT CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,3201,NULL,NULL,NULL,NULL) AS int) AS id_NewsInPage

-- ESTRAZIONE DI UN SINGOLO VALORE, CONTENUTO NELL'XML IN CORRISPONDENZA DEL TAG SPECIFICATO, CORRISPONDENTE ALL'ID PRIMARIO DELLA TABELLA CONTENITRICE
SELECT dbo.fnGetValueFromXmlContenutoNews('titolo',4,NULL,NULL,NULL,NULL,NULL,NULL) AS titolo
SELECT dbo.fnGetValueFromXmlContenutoNews('testo',4,NULL,NULL,NULL,NULL,NULL,NULL) AS testo
SELECT CAST(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',4,NULL,NULL,NULL,NULL,NULL,NULL) AS int) AS id_NewsInPage

-- ESTRAZIONE, SEPARANDOLI TRAMITE UN SEPARATORE DEFINITO DALL'UTENTE, DEI VALORI (DISTINCT) CONTENUTI NELL'XML IN CORRISPONDENZA DEL TAG SPECIFICATO
SELECT dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,NULL,NULL,NULL,NULL,NULL) AS CSV_id_NewsInPage
SELECT dbo.fnGetValueFromXmlContenutoNews('titolo',NULL,NULL,NULL,NULL,NULL,NULL,'#') AS CSV_titolo
SELECT dbo.fnGetValueFromXmlContenutoNews('testo',NULL,NULL,NULL,NULL,NULL,NULL,'|') AS CSV_testo

-- ESTRAZIONE, RIPARTENDOLI PER RIGHE, DEI VALORI (DISTINCT) CONTENUTI NELL'XML IN CORRISPONDENZA DEL TAG SPECIFICATO
SELECT CAST(Item AS int) AS id_NewsInPage FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('id_NewsInPage',NULL,NULL,NULL,NULL,NULL,NULL,NULL),NULL)
SELECT Item AS titolo FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('titolo',NULL,NULL,NULL,NULL,NULL,NULL,'#'),'#')
SELECT Item AS testo FROM dbo.fnSplit(dbo.fnGetValueFromXmlContenutoNews('testo',NULL,NULL,NULL,NULL,NULL,NULL,'|'),'|')

*/
CREATE FUNCTION [dbo].[fnGetValueFromXmlContenutoNews]
				(
					@XmlPath varchar(MAX) = NULL
					,@IdVsnContenutoNews int = NULL
					,@Autore varchar(MAX) = NULL
					,@IdContenutoNews int = NULL
					,@Id_NewsInPage int = NULL
					,@NewsInPage bit = NULL
					,@IdStato int = NULL
					,@separator char(1) = NULL
				)
RETURNS varchar(MAX)
AS
BEGIN
	DECLARE @RETVAL varchar(MAX) = NULL

	IF ISNULL(@XmlPath,'') != ''
	AND ISNULL(@IdVsnContenutoNews,0) != 0
		BEGIN
			SELECT	@RETVAL =
					C.value('(//*[local-name()=sql:variable("@Xmlpath")])[1]','varchar(max)')
			FROM	VSN_ContenutoNews AS T WITH(NOLOCK)
					CROSS APPLY T.XmlContenutoNews.nodes('/XmlContenutoNews') AS X(C)
			WHERE	(IdVsnContenutoNews = @IdVsnContenutoNews)
			AND		(Autore = @Autore OR @Autore IS NULL)
			AND		(IdContenutoNews = @IdContenutoNews OR @IdContenutoNews IS NULL)
			AND		(Id_NewsInPage = @Id_NewsInPage OR @Id_NewsInPage IS NULL)
			AND		(NewsInPage = @NewsInPage OR @NewsInPage IS NULL)
			AND		(IdStato = @IdStato OR @IdStato IS NULL)
		END
	
	IF ISNULL(@XmlPath,'') != ''
	AND ISNULL(@IdVsnContenutoNews,0) = 0
		BEGIN
			SET @separator = ISNULL(@separator,',')
			SELECT	@RETVAL = 
					dbo.fnTrimSeparator
					(
						CAST
						(
							(
								SELECT	DISTINCT
										REPLACE
										(
											REPLACE
											(
												CAST(C.query('(//.[local-name()=sql:variable("@Xmlpath")])') AS varchar(MAX))
												,'<' + @Xmlpath + '>'
												,@separator
											)
											,'</' + @Xmlpath + '>'
											, ''
										)
								FROM	VSN_ContenutoNews AS T WITH(NOLOCK)
										CROSS APPLY T.XmlContenutoNews.nodes('/XmlContenutoNews') AS X(C)
								WHERE	(Autore = @Autore OR @Autore IS NULL)
								AND		(IdContenutoNews = @IdContenutoNews OR @IdContenutoNews IS NULL)
								AND		(Id_NewsInPage = @Id_NewsInPage OR @Id_NewsInPage IS NULL)
								AND		(NewsInPage = @NewsInPage OR @NewsInPage IS NULL)
								AND		(IdStato = @IdStato OR @IdStato IS NULL)
								FOR XML PATH(''), TYPE, ELEMENTS
							)
							AS varchar(MAX)
						)
						,@separator
					)
		END
	
	IF ISNULL(@XmlPath,'') = ''
	AND ISNULL(@IdVsnContenutoNews,0) != 0
		BEGIN
			SELECT	@RETVAL =
					CAST(T.XmlContenutoNews AS varchar(MAX))
			FROM	VSN_ContenutoNews AS T WITH(NOLOCK)
			WHERE	(IdVsnContenutoNews = @IdVsnContenutoNews OR @IdVsnContenutoNews IS NULL)
			AND		(Autore = @Autore OR @Autore IS NULL)
			AND		(IdContenutoNews = @IdContenutoNews OR @IdContenutoNews IS NULL)
			AND		(Id_NewsInPage = @Id_NewsInPage OR @Id_NewsInPage IS NULL)
			AND		(NewsInPage = @NewsInPage OR @NewsInPage IS NULL)
			AND		(IdStato = @IdStato OR @IdStato IS NULL)
		END
	RETURN @RETVAL
END
GO
