USE [Intranetinps_Richieste]
GO
/****** Object:  StoredProcedure [dbo].[spTMPdestroy]    Script Date: 23/06/2017 11:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
----------------------------------------
dbo.spTMPdestroy - SISTEMA TMP
----------------------------------------

NELL'AMBITO DEL MICROSISTEMA DI GESTIONE DI DATI TABELLARI TEMPORANEI (SISTEMA "TMP"), QUESTA STORED PROCEDURE E' PREPOSTA ALLA DISTRUZIONE, SENZA
ULTERIORI RICHIESTE DI CONFERMA, DI UNA TABELLA TEMPORANEA GLOBALE (UBICATA NEL DATABASE "tempdb").

QUESTA SP VIENE INVOCATA AUTOMATICAMENTE OGNI QUALVOLTA VIENE ESEGUITA LA SP "spTMPcreate": QUESTO SIGNIFICA CHE PRIMA CHE LA TABELLA VENGA CREATA,
ESSA SARA' DA QUESTA SP DISTRUTTA (E CON ESSA TUTTI I DATI IVI CONTENUTI)

-- ESEMPI DI INVOCAZIONE

EXEC spTMPdestroy
*/
CREATE PROC	[dbo].[spTMPdestroy]
AS
IF	EXISTS
	(
		SELECT	* 
		FROM	tempdb..sysobjects 
		where	name LIKE '%##__tmpTable%' 
		AND		[type] in (N'U')
	)
	BEGIN
		DROP TABLE ##__tmpTable
	END

GO
