USE [GMATICA_AGS_RawData_Elaborate_Stag_Agile]
GO
/****** Object:  UserDefinedFunction [dbo].[COUNTFAST]    Script Date: 06/07/2017 17:39:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SELECT dbo.COUNTFAST('__RAWDATA__') AS ROWNUMBER
*/
ALTER FUNCTION [dbo].[COUNTFAST](@TableName varchar(128))
RETURNS bigint
AS
BEGIN
	DECLARE @RETVAL bigint = NULL

	IF ISNULL(@TableName,'') != ''
		BEGIN
			SELECT	@RETVAL = CONVERT(bigint, rows)
			FROM	sysindexes
			WHERE	id = OBJECT_ID(@TableName)
			AND		indid < 2

			IF ISNULL(@RETVAL,0) = 0
				BEGIN
					SELECT	@RETVAL = SUM(st.row_count)
					FROM	sys.dm_db_partition_stats st
					WHERE	OBJECT_ID = OBJECT_ID(@TableName)
					AND		(index_id < 2)
				END
		END
	RETURN @RETVAL
END